.card-image{

  height: 200px;
  background-size: cover;
  background-position: center;

}

.btn-primary{

background-color: rgb(195, 73, 12)!Important;
font-weight: bold;
text-align: center;
color: rgb(255, 255, 255);
border: none;
display: block;
margin: auto;

}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .card {
    width: 23%;
    display: block;
    float: left;
    margin-right: 1%;
    margin-bottom: 25px;
  }

}
