<ngb-carousel *ngIf="images.length > 1; else noSlide" [interval]="1000">
  <ng-template ngbSlide *ngFor="let image of images; let i = index">
    <div class="picsum-img-wrapper">
      <img [src]="percorso + image.id + '.jpg'" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>{{ image.titolo }}</h3>
      <h2 *ngIf="i == images.length -1">ULTIMA FOTO</h2>
    </div>
  </ng-template>
</ngb-carousel>

<ng-template #noSlide>
  <img src="../../assets/images/carousel-1.jpg" class="no-slide" />
</ng-template>
